<section id="Experience">
    <div class="container">
        <div class="row justify-content-center content">
            <div class="col-12">
                <h3 class="jobs">Where I've Worked</h3>
            </div>
            <div class="col-md-4 col-sm-12 job-name">
                <ul class="job-group" *ngFor="let job of jobs">
                    <li class="job-item">
                        <button class="tab green" *ngIf="job.organistion_name == activeJob.organistion_name" (click)="setJob(job)">
                            <span>{{job.organistion_name}}</span>
                        </button>
                        <button class="tab slate" *ngIf="job.organistion_name != activeJob.organistion_name" (click)="setJob(job)">
                            <span>{{job.organistion_name}}</span>
                        </button>
                    </li>
                </ul>
            </div>
            <div class="col-md-8 col-sm-12">
                <app-job [job]="activeJob"></app-job>
            </div>
        </div>
    </div>
</section>