<section id="contact">
    <div class="container">
        <div class="row justify-content-center align-items-center content">
            <div class="col col-md-8 col-sm-10 ">
                <div class="contact-text">
                    <h1>Get In Touch</h1>
                    <p>{{contact}}</p>
                    <a class="btn btn-outline-success btn-ajm" href="mailto:antonyjm462@gmail.com">
                        Say Hello
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>