//variables
@import '../../../assets/scss/modules/variables';
.about {
    width: 100%;
    height: 100vh;
}

.WorkDescription {
    height: 100vh;
    width: 100%;
}

.skill {
    width: 100%;
}

//tint
.image-holder {
    height: 340px;
    width: 338px;
    position: relative;
}

img {
    border-radius: 10px;
}

.image-holder:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 255, 255, 0.466);
    transition: all .3s linear;
    border-radius: 10px;
}

.image-holder:hover:before {
    background: none;
}

ul {
    list-style-type: none;
}

.skills {
    display: block;
}

.dev-icon>li {
    padding-left: 0;
    list-style: none;
}

.chart {
    color: $green;
}

canvas {
    display: block;
    width: 1000px;
    height: 1000px;
}

.stack::after {
    content: none;
}

h2 {
    color: #64ffda;
    font-family: "IBM Plex Mono";
    font-size: 1.5rem;
    text-align: center;
}

.sub-skill {
    text-align: center;
}

.icon {
    display: inline-block;
    background-size: cover;
    height: 100px;
    width: 100px;
    margin: 10px 20px;
    position: relative;
}

.icon-text {
    color: $slate;
}

@media only screen and (max-width: 700px) {
    .about {
        height: 900px;
    }
    .WorkDescription {
        height: 130vh;
    }
    .skill {
        height: 400vh;
    }
    canvas {
        display: block;
        width: 100%;
        height: 100%;
    }
    h2 {
        padding: 25px;
    }
}