<section id="about">
    <div class="container">
        <div class="row justify-content-center align-items-center about">
            <div class="col-md-8 col-sm-12">
                <h3>About Me</h3>
                <div class="desc">
                    {{desc}}
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="image-holder">
                    <img src="../../../assets/img/photo.svg" />
                </div>
            </div>
        </div>
    </div>
</section>


<section id="WorkDescription">
    <div class="container">
        <div class="row justify-content-center WorkDescription">
            <div class="col-md-6 col-sm-12 chart order-md-1 order-2">
                <canvas baseChart [datasets]="radarChartData" [labels]="radarChartLabels" [chartType]="radarChartType" [options]="radarOptions"></canvas>
            </div>
            <div class="col-md-6 col-sm-12 Work order-md-2 order-1">
                <h3>What I Do</h3>
                <div class="dev-text">
                    <ul class="sub-text">
                        <li class="text" *ngFor="let text of skilltexts">{{text}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="skill">
    <div class="container">
        <div class="row justify-content-center skill">
            <h3 class="stack">Crazy Full Stack Developer Who Want To Explore Every Tech Stack</h3>
            <div class="dev-text content">
                <div class="row skill-set justify-content-center align-items-center ">
                    <div class="col-md-2 col-sm-12">
                        <h2> Languages </h2>
                    </div>
                    <div class="col-md-10 col-sm-12">
                        <div class="icon" *ngFor="let skill of languageShow">
                            <img class="icon" src="{{skill}}" alt="icon">
                        </div>
                    </div>
                </div>
                <div class="row skill-set justify-content-center align-items-center">
                    <div class="col-md-2 col-sm-12">
                        <h2> Database </h2>
                    </div>
                    <div class="col-md-10 col-sm-12">
                        <div class="icon" *ngFor="let skill of database">
                            <img class="icon" src="{{skill}}" alt="icon">
                        </div>
                    </div>
                </div>
                <div class="row skill-set justify-content-center align-items-center">
                    <div class="col-md-2 col-sm-12">
                        <h2> Os </h2>
                    </div>
                    <div class="col-md-10 col-sm-12">
                        <div class="icon" *ngFor="let skill of os">
                            <img class="icon" src="{{skill}}" alt="icon">
                        </div>
                    </div>
                </div>
                <div class="row skill-set justify-content-center align-items-center">
                    <div class="col-md-2 col-sm-12">
                        <h2> FrameWork </h2>
                    </div>
                    <div class="col-md-10 col-sm-12">
                        <div class="icon" *ngFor="let skill of framework">
                            <img class="icon" src="{{skill}}" alt="icon">
                        </div>
                    </div>
                </div>
                <div class="row skill-set justify-content-center align-items-center">
                    <div class="col-md-2 col-sm-12">
                        <h2> Application </h2>
                    </div>
                    <div class="col-md-10 col-sm-12">
                        <div class="icon" *ngFor="let skill of application">
                            <img class="icon" src="{{skill}}" alt="icon">
                        </div>
                    </div>
                </div>
                <div class="row skill-set justify-content-center align-items-center">
                    <div class="col-md-2 col-sm-12">
                        <h2> Technology </h2>
                    </div>
                    <div class="col-md-10 col-sm-12">
                        <div class="row justify-content-between">
                            <div class="col-md-1 col-sm-2" *ngFor="let skill of tech">
                                <p class="lead">{{skill}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>