<section id="footer">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col col-md-4 col-sm-12 copyright">
                Designed & Built by @ntony J Malakkaran &copy;
            </div>
        </div>
    </div>
    <div class="container mobile-downbar">
        <div class="row justify-content-around align-items-center">
            <div class="col col-sm-2 link">
                <a href="{{github}}">
                    <div class=""></div>
                    <div class="icon up" aria-label="icon" [inlineSVG]="'../../../assets/icons/github-brands.svg'"></div>
                </a>
            </div>
            <div class="col col-sm-2 link">
                <a href="{{linkedin}}">
                    <div class="icon up" aria-label="icon" [inlineSVG]="'../../../assets/icons/linkedin-brands.svg'"></div>
                </a>
            </div>
            <div class="col col-sm-2 link">
                <a href="{{dev}}">
                    <div class="icon up" aria-label="icon" [inlineSVG]="'../../../assets/icons/dev-brands.svg'"></div>
                </a>
            </div>
            <div class="col col-sm-2 link">
                <a href="{{email}}">
                    <div class="icon up" aria-label="icon" [inlineSVG]="'../../../assets/icons/envelope-solid.svg'"></div>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- <section id="mobile-downbar">
    <div class="container mobile-downbar">
        <div class="row justify-content-center align-items-center">
            <div class="col col-sm-4 link">
                <a href="{{github}}">
                    <div class="icon up" aria-label="icon" [inlineSVG]="'../../../assets/icons/github-brands.svg'"></div>
                </a>
            </div>
            <div class="col col-sm-4 link">
                <a href="{{linkedin}}">
                    <div class="icon up" aria-label="icon" [inlineSVG]="'../../../assets/icons/linkedin-brands.svg'"></div>
                </a>
            </div>
            <div class="col col-sm-4 link">
                <a href="{{dev}}">
                    <div class="icon up" aria-label="icon" [inlineSVG]="'../../../assets/icons/dev-brands.svg'"></div>
                </a>
            </div>
            <div class="col col-sm-4 link">
                <a href="{{email}}">
                    <div class="icon up" aria-label="icon" [inlineSVG]="'../../../assets/icons/envelope-solid.svg'"></div>
                </a>
            </div>
        </div>
    </div>
</section> -->