<div #stickyMenu [class.sticky]="sticky">
    <nav class="navbar navbar-dark bg-transparent navbar-expand-md">
        <div class="container">
            <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav mx-auto links">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#about">About</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#Experience">Experience</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#featured">Projects</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#accomplishments">Accomplishments</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#contact">Contact</a></li>
                </ul>
                <ul class="nav navbar-nav ml-auto links">
                    <li class="nav-item" role="presentation"><a class="btn btn-outline-warning btn-lemonink nav-link" href="https://lemonink.antonyjmalakkaran.codes/">
                        Lemonink.
                    </a></li>
                    <li class="nav-item" role="presentation"><a class="btn btn-outline-danger btn-ajm nav-link" href="https://blog.antonyjmalakkaran.codes/">
                        Blog
                    </a></li>
                    <li class="nav-item" role="presentation"><a class="btn btn-outline-success btn-ajm nav-link" href="../../assets/docs/Resume.pdf">
                        Resume
                    </a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>