@import '../../../assets/scss/modules/variables';
.project-container {
    background-color: $lightNavy;
    height: 300px;
    width: 400px;
    padding: 20px;
    margin: 10px;
}

ul {
    display: flex;
    align-items: flex-end;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-wrap: wrap;
    padding: 0px;
    margin: 20px 0px 0px;
    list-style: none;
}

li {
    font-size: 12px;
    color: $lightSlate;
    line-height: 1.75;
    margin-right: 15px;
}

.folder-icon {
    color: $green;
    height: 80px;
    width: 60px;
}

.icon {
    color: $slate;
    height: 25px;
    width: 25px;
    position: relative;
}

.icon:hover {
    color: $green;
}

.content-head {
    font-size: 22px;
    color: $lightestSlate;
    margin: 0px 0px 10px;
    font-weight: $bold;
}

.content-text,
.content-footer {
    box-sizing: border-box;
    word-wrap: break-word;
    font-family: $mono;
    font-size: small;
    color: $lightSlate;
    margin: 0px 0px 15px;
}