<section id="intro">
    <div>
        <app-navbar></app-navbar>
    </div>
    <div class="container">
        <div class="row justify-content-center align-items-center content">
            <div class="col-md-10 col-sm-12 intro">
                <h6> Hi, I am </h6>
                <h1> Antony J Malakkaran</h1>
                <h2> {{headline}}</h2>
                <div class="row justify-content-between align-items-center">
                    <div class="col-md-2 order-md-1 order-2">
                        <a class="btn btn-outline-success btn-ajm " href="mailto:antonyjm462@gmail.com ">
                                Say Hello
                            </a>
                    </div>
                    <div class="col-md-10 align-content-center order-md-2 order-1">
                        <p class="desc ">{{intro}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>