//variables
@import '../../../assets/scss/modules/variables';
#featured,
#projects {
    width: 100%;
}

.projects {
    height: 150vh;
}

.featured {
    height: 300vh;
}

h3::after {
    margin-left: 420px;
}

@media only screen and (max-width: 700px) {
    #featured,
    #projects {
        font-size: 0.7rem;
    }
    .projects {
        height: 1700px;
        font-size: 0.7rem;
    }
    .featured {
        height: 2900px;
        font-size: 0.7rem;
    }
}