//variables
@import '../../../assets/scss/modules/variables';
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    position: relative;
    gap: 25px;
}

h3::after {
    margin-left: 420px;
}