// primary font
$primary_font: 'Raleway';
$mono: 'IBM Plex Mono';
// font-weight
$thin:100;
$light:300;
$regular:400;
$bold:700;
$black:900;
// Font size
$font-xs:12px;
$font-sm: 14px;
$primary-fs: 16px;
$font-md: 18px;
$font-lg: 20px;
//color
$green: #64ffda;
$DARK_BG: #020c1b;
$BG: #0a192f;
$lightNavy: #172a45;
$lightestNavy: #303C55;
$slate: #8892b0;
$lightSlate: #a8b2d1;
$lightestSlate: #ccd6f6;
$white: #e6f1ff;