<div class="project container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6 col-sm-12">
            <p class="featured">Featured Project</p>
            {{set_project(project)}}
            <h4 class="content-head ">{{project.project_name}}</h4>
            <p class="content-text ">{{project.project_data}}</p>
            <ul class="content-footer row justify-content-end ">
                <li class="depend " *ngFor="let item of project.dependency ">
                    {{item}}
                </li>
            </ul>
            <div class="row justify-content-end align-items-center">
                <div class="col-4 ">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-6 ">
                            <a href={{project.github}}>
                                <div class="icon " aria-label="icon " [inlineSVG]=" '../../../assets/icons/github-brands.svg' "></div>
                            </a>
                        </div>
                        <div class="col-6 ">
                            <a href={{project.web}}>
                                <div class="icon " aria-label="icon " [inlineSVG]=" '../../../assets/icons/link-solid.svg' "></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 ">
            <!-- <div appChangeImg class="image-holder noselect" draggable="false">
                <img src="{{project.img + pngVal }} " />
            </div> -->
            <div id="{{project.project_name}}" class="image-holder carousel slide" data-ride="carousel">
                <ol id="indicator" class="carousel-indicators">
                    <div *ngFor="let index of indexes; index as i; first as isFirst">
                        <li attr.data-target="#{{project.project_name}}" attr.data-slide-to="{{index}}" [ngClass]="{'active': isFirst}"></li>
                    </div>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item" [ngClass]="{'active': isFirst}" *ngFor="let index of indexes; index as i; first as isFirst">
                        <img src="{{item.img + index + '.png'}}" attr.class="d-block w-100" [ngClass]="{'active': isFirst}">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#{{project.project_name}}" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#{{project.project_name}}" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>