<div class="sidenav">
    <div class="link">
        <a href="{{github}}">
            <div class="icon up" aria-label="icon" [inlineSVG]="'../../../assets/icons/github-brands.svg'"></div>
        </a>
    </div>
    <div class="link">
        <a href="{{linkedin}}">
            <div class="icon up" aria-label="icon" [inlineSVG]="'../../../assets/icons/linkedin-brands.svg'"></div>
        </a>
    </div>
    <div class="link">
        <a href="{{dev}}">
            <div class="icon up" aria-label="icon" [inlineSVG]="'../../../assets/icons/dev-brands.svg'"></div>
        </a>
    </div>
    <div class="link">
        <a href="{{email}}">
            <div class="icon up" aria-label="icon" [inlineSVG]="'../../../assets/icons/envelope-solid.svg'"></div>
        </a>
    </div>
</div>