//variables
@import '../../../assets/scss/modules/variables';
//style
.scroll-to-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    opacity: 0;
    transition: all .2s ease-in-out;
}

.show-scrollTop {
    opacity: 1;
    transition: all .2s ease-in-out;
}

.scrollup {
    color: $green;
    height: 30px;
    width: 30px;
}

@media only screen and (max-width: 700px) {
    .scroll-to-top {
        visibility: hidden;
        display: none;
    }
}